.dialogs {
    display: grid;
    grid-template-columns: minmax(100px, 300px) 1fr;
    padding-right: 5px;
    padding-left: 5px;
}

.dialogs__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dialogs__list > li {

}

.messages {
    padding-top: 10px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

